body {
  background-color: #f3f3f3;
}

.titleFont {
  font-family: "Montserrat", sans-serif;
}

.hoverLink {
  text-decoration: none;
}

.hoverLink:hover{
  text-decoration: underline;
}

/* Heart shaped links to save mods */
.likeLink {
  color: black;
}

.likeLink:hover {
  color: black;
}

.unlikeLink {
  color: black;
}

.unlikeLink:hover {
  color: black;
}

/* SCHEDULE PAGE */
.calendar-table {
  height: 400px;
  /* overflow: hidden; */
}

/* FOR ARROW SELECTERS */
#numSelectCaret:hover {
  color: blue;
  cursor: pointer;
}

/* PAGINATION */
.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination a.active {
  background-color: darkslategray;
  color: #f3f3f3;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
}
